body,html 
    // background-color: #bbbbbb

@mixin flex
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap 
@mixin trs($ms: 100ms)
    transition: $ms all ease-in-out
@mixin h_opa($ms: 100ms)
    +trs($ms)
    &:hover
        opacity: .8

.cus__container
    width: 100%
    +flex

// Global
.cus__sidebar
    width: 100%
    max-width: 220px
    ul
        +flex
        justify-content: space-between
        margin: 0
        padding: 0
        list-style-type: none
    a
        display: block
        color: unset
        text-decoration: unset
        +h_opa
        &:hover
            color: #ee7d86
            text-decoration: underline
    h4
        text-align: center
        font-size: 18px
        color: #555
        margin: 20px 0 10px 0
    .type__image
        .item
            +flex
            box-sizing: border-box
            margin: 6px 4px
            padding: 5px
            border: 1px solid #666
            width: 100px
            height: 100px
        .image
            max-width: 54px
            padding: 2px
        .name
            margin: 4px 0 0 0
            display: inline-block
            width: 100%
            text-align: center
    .type__solid
        .item
            +flex
            box-sizing: border-box
            margin: 6px 4px
            padding: 5px
            border: 1px solid #666
            width: 100px
        .image
            max-width: 60px
        .name
            display: inline-block
            width: 100%
            text-align: center