.container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.cus__sidebar {
  width: 100%;
  max-width: 220px;
}

.cus__sidebar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cus__sidebar a {
  display: block;
  color: unset;
  text-decoration: unset;
  -webkit-transition: 100ms all ease-in-out;
  -o-transition: 100ms all ease-in-out;
  transition: 100ms all ease-in-out;
}

.cus__sidebar a:hover {
  opacity: .8;
}

.cus__sidebar a:hover {
  color: #ee7d86;
  text-decoration: underline;
}

.cus__sidebar h3 {
  text-align: center;
  color: #555;
}

.cus__sidebar .type__image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.cus__sidebar .type__image .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-shadow: border-box;
          box-shadow: border-box;
  margin: 8px;
  padding: 5px;
  border: 1px solid #666;
  width: 80px;
  height: 80px;
}

.cus__sidebar .type__image .image {
  max-width: 54px;
  padding: 2px;
}

.cus__sidebar .type__image .name {
  margin: 4px 0 0 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.cus__sidebar .type__solid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.cus__sidebar .type__solid .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-shadow: border-box;
          box-shadow: border-box;
  margin: 8px;
  padding: 5px;
  border: 1px solid #666;
  width: 80px;
}

.cus__sidebar .type__solid .image {
  max-width: 60px;
}

.cus__sidebar .type__solid .name {
  display: inline-block;
  width: 100%;
  text-align: center;
}
